@using X.PagedList;
@using X.PagedList.Mvc.Core
@model IPagedList<CatalogCarViewModel>
@{
    ViewData["Title"] = "Каталог";
}

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2 class="text-center">Каталог с коли</h2>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Търсене по категория: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<div class="row">
    @foreach (var catalogCar in Model)
    {
        <div class="col-md-2">
            <div class="card" style="width: 18rem; border:5px solid black">
                <img class="card-img-top" style="width: 100%" src="@Url.Action("GetCarPhoto", "Catalog", new { area = "", carName = catalogCar.Name})" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">@catalogCar.Name</h5>
                    <p class="card-text text-center">@catalogCar.Description</p>
                    <p class="card-text text-center"><strong>Марка: </strong>@catalogCar.BrandName</p>
                    <p class="card-text text-center"><strong>Модел: </strong>@catalogCar.ModelName</p>
                    <p class="card-text text-center"><strong>Цена: </strong>@catalogCar.Price</p>
                    <p class="card-text text-center"><strong>Тип двигател: </strong>@catalogCar.EngineType</p>
                    <p class="card-text text-center"><strong>Скоростна кутия: </strong>@catalogCar.Gearbox</p>
                    <p class="card-text text-center"><strong>Пробег: </strong>@catalogCar.Mileage</p>
                    <p class="card-text text-center"><strong>Година на производство: </strong>@catalogCar.YearOfManufacture</p>
                </div>
            </div>
        </div>
    }
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))